@import "tailwindcss";

@tailwind utilities;


/* scrollbar settings */
html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.15);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

:root {
  --bg-main: #0b0f1a;
  --bg-soft: #11162a;

  --primary: #6366f1;   /* indigo */
  --accent: #22d3ee;    /* cyan */
  --success: #34d399;   /* emerald */

  --text-main: #e5e7eb;
  --text-soft: #9ca3af;
}

/* general background */
body {
  @apply bg-(--bg-main) text-(--text-main);
}

/* glass container */
.glass {
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.02)
  );
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
}

/* gradient text */
.gradient-text {
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--accent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* soft glow */
.glow {
  box-shadow:
    0 0 0 0 rgba(99,102,241,0.0),
    0 0 40px -10px rgba(34,211,238,0.25);
}
